<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="DBConnOLD" connectionString="Server=DESKTOP-3KU7CQB\MSSQLSERVER2014; Database=DevTemp; User ID=devproject;Password=dev123456" />
    <add name="DBConn" connectionString="Server=DEVSTATION\MSSQLSERVER2014; Database=DevTest; User ID=dev;Password=dev123456" />
  </connectionStrings>
</configuration>
